body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

#pro{
    border-left: 10px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;
}
#noob{
    border-left: 10px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

/* ----------------top-bannar------------------- */
.top-bannar{
    border: 2px solid red;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 100px;
}
h1{
    font-size: 50px;
}
.name{
    color: orange;
}
.top-bannar{
    display: flex;
}
.top-bannar .half-width{
    width: 50%;
    padding-left: 5%;
}
.top-bannar .half-width img{
    width: 80%;
}
.top-bannar .half-width .link-button{
    text-decoration: none;
    background-image:linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
    font-weight: 700px;
}

/* -------------------dream-big------------------------ */
.dream-big{
    display: flex;
    border: 2px solid blue;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 100px;
}
.dream-big .half-width{
    width:50%;
}
.dream-big .half-width img{
    width: 80%
}
.dream-big .half-width .link-button{
    text-decoration: none;
    background-image:linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
    font-weight: 700px;
}
.dream-big .right-side{
    width: 100%;
    /* padding-right: 100px; */
}

/* ----------------experience------------------------- */

.experience{
    border: 2px solid green;
    margin-bottom: 100px;
    background-image:url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience .total{
    display: flex;
}
.experience .total .half-width{
    padding-left: 10px;
    margin-left: 5%;
    margin-right: 5%;
    width: 40%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px; 
}
.experience .total .half-width h2{
    font-size: 40px;
}


/* --------------footer------------------- */

footer p{
    text-align: center;
    font-size: 1.2em;
    font-weight: 700px;
}
